<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find atemr_description)/urdf/common/common.urdf.xacro"/>
  <xacro:include filename="$(find atemr_description)/urdf/common/materials.urdf.xacro"/>

  <xacro:property name="model_mass" value="0.072" />
  <xacro:macro name="realsense_camera" params="x y z">

    <link name="realsense_camera">
      <visual>
        <geometry>
          <mesh filename="package://atemr_description/meshes/realsense_camera.dae" scale="1 1 1"/>
        </geometry>
        <xacro:red_material/>
        <origin xyz="0 0 0" rpy="0 0 0" />
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://atemr_description/meshes/realsense_camera_col.stl" scale="1 1 1"/>
        </geometry>
        <xacro:red_material/>
        <origin xyz="0 0 0" rpy="0 0 0" />
      </collision>
      <inertial>
        <mass value="${model_mass}" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia  ixx="0.000055654" ixy="0.000001199" ixz="-0.000000245" iyy="0.000012386" iyz="-0.000000057" izz="0.000062273" />
      </inertial>
    </link>

    <joint name="realsense_camera_joint" type="fixed">
      <parent link="base_link"/>
      <child link="realsense_camera"/>
      <origin rpy="0 -0.186779 0" xyz="${x} ${y} ${z}"/>
    </joint>
  </xacro:macro>

</robot>
