<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find atemr_description)/urdf/common/common.urdf.xacro"/>
  <xacro:include filename="$(find atemr_description)/urdf/common/materials.urdf.xacro"/>

  <xacro:property name="model_mass" value="0.010" />
  <xacro:macro name="wt901_imu_sensor" params="x y z">

    <link name="wt901_imu" />

    <joint name="wt901_imu_joint" type="fixed">
      <parent link="base_link"/>
      <child link="wt901_imu"/>
      <origin rpy="0 0 ${-pi/2}" xyz="${x} ${y} ${z}"/>
    </joint>
  </xacro:macro>

</robot>
