<?xml version="1.0"?>
<launch>
  <!-- Run gazebo simulation -->
  <include file="$(find atemr_simulation)/launch/atemr_world.launch" />
  <!-- Run IMU and scan filters -->
  <include file="$(find atemr_hardware)/launch/imu.launch">
    <arg name="live_run" value="false"/>
  </include>
  <include file="$(find atemr_hardware)/launch/lidar.launch">
    <arg name="live_run" value="false"/>
  </include>
  <!-- Run base controller -->
  <include file="$(find atemr_control)/launch/control.launch">
    <arg name="live_run" value="false"/>
  </include>

  <!-- Run teleoperation node -->
  <!--include file="$(find atemr_control)/launch/teleop_kb.launch" /-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find atemr_description)/rviz/atemr_nav.rviz"/>

</launch>
